.blog {
    margin: 10px ;
}

.blog .box__item {
  transition: 0.5s;
}

.blog .box__item:hover {
    box-shadow: 0 1px 3px black;
    cursor: pointer;
    transform: translateY(-5px);
}

.blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog .icon {
  margin-right: 10px;
  font-size: 20px;
}

.blog .tag a {
    color: gray;
    opacity: 0.7;
}

.blog .tag {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.blog h3 {
    font-weight: 600;
    color: #0abde3;
    font-size: 18px;
}

.blog p {
    color: #222f3e;
    font-weight: 400;
    margin: 20px 0;
    font-size: 15px;
    line-height: 25px;
}

.blog .date {
    display: flex;
    align-items: center;
}

.blog .date label {
    display: block;
    margin-right: 15px;
}