.account__info {
    margin: 120px 0;
}

.account__info .container {
    padding: 50px;
    max-width: 60%;
    margin: auto;
}

.account__info .content {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
}

.account__info .left {
    width: 200px;
    position: relative;
}

.account__info .right {
    width: calc(100% -180px);
    margin-left: 50px;
}

.account__info .left .img input {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 2;
}