header{
    background-color: #def0f2;
    padding: 10px;
    box-shadow: 0 0px 2px #535c68;
    position: relative;
    z-index: 5;
}

nav ul {
    display: flex;
}

nav a {
    margin-right: 30px;
    color: #2c3e50;
    font-weight: 500;
}

/*----- Profile -----*/
.profile {
  margin-left: 30px;
  cursor: pointer;
}

.profile .image {
  display: flex;
}

.profile .image img {
    margin-right: 20px;
}

.profile button {
    font-size: 17px;
    font-weight: 500;
}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.text p {
    font-size: 13px;
}



/*----- Open Profile -----*/
.open__profile {
    color: #1e272e;
    box-shadow: 0 1px 3px #485460;
    position: absolute;
    top: 67px;
    right: 10px;
    width: 200px;
    background-color: #ecf0f1;
    padding-top: 5px;
}

.open__profile .img {
  padding-top: 5px;
}

.open__profile .box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    transition: 1s;
}

.open__profile .icon {
    font-size: 25px;
    margin-right: 10px;
}

.open__profile h4 {
    font-size: 15px;
    font-weight: 500;
}

.open__profile button:hover {
    background-color: #d2dae2;
}
